# 할로윈 투자 전략
1. 11월 1일에 구매 -> 6개월 동안 유지, 4월 말일에 판매
2. 11월 첫날 시가로 구매
3. 4월 마지막날 종가로 판매
4. 수익률 = (3번과정 - 2번과정) / 2번과정 
5. 투자기간이 21년 누적 수익률 계산
6. CAGR (연복리수익률) 계산
7. MDD (Max DrawDown, 최대낙폭) 계산 
8. 백테스팅

In [1]:
import pandas as pd

In [2]:
kospi = pd.read_excel('kospi.xlsx', engine='openpyxl', index_col=0)
kospi.head(1)

              Close     Open     High      Low       Volume  Change
Date
2000-01-04  1059.04  1028.33  1066.18  1016.59  195900000.0  0.0301

In [3]:
kospi.loc['2000-11']

             Close    Open    High     Low       Volume  Change
Date
2000-11-01  548.76  524.69  550.06  522.78  366440000.0  0.0666
2000-11-02  558.10  543.94  563.98  540.93  461060000.0  0.0170
2000-11-03  560.41  563.50  567.07  556.38  406520000.0  0.0041
2000-11-06  556.66  557.64  581.47  555.41  423810000.0 -0.0067
2000-11-07  553.35  560.55  564.38  550.39  346590000.0 -0.0059
2000-11-08  558.09  549.21  562.89  545.77  354230000.0  0.0086
2000-11-09  560.66  549.44  562.66  548.14  323910000.0  0.0046
2000-11-10  565.18  557.94  567.34  555.11  322180000.0  0.0081
2000-11-13  538.94  552.44  552.44  536.45  272840000.0 -0.0464
2000-11-14  552.99  543.53  552.99  543.53  253050000.0  0.0261
2000-11-15  557.48  566.41  570.36  552.89  325310000.0  0.0081
2000-11-16  555.04  557.85  561.17  550.46  310690000.0 -0.0044
2000-11-17  551.26  548.43  551.26  543.60  331720000.0 -0.0068
2000-11-20  537.40  543.78  547.56  537.24  289750000.0 -0.0251
2000-11-21  531.45  529.51  531.45  515.41  293150000.0 -0.0111
2000-11-22  522.33  525.50  532.95  520.61  314620000.0 -0.0172
2000-11-23  514.31  515.48  522.54  512.41  312320000.0 -0.0154
2000-11-24  530.84  518.15  530.84  515.32  315550000.0  0.0321
2000-11-27  554.04  542.27  554.04  542.27  392920000.0  0.0437
2000-11-28  536.94  544.44  547.31  535.96  341210000.0 -0.0309
2000-11-29  516.44  522.98  522.98  511.93  281000000.0 -0.0382
2000-11-30  509.23  518.82  518.82  499.52  310420000.0 -0.0140

In [4]:
kospi.loc['2001-04']

             Close    Open    High     Low       Volume  Change
Date
2001-04-02  515.20  520.56  522.09  512.40  231820000.0 -0.0153
2001-04-03  503.26  505.38  507.67  498.27  277550000.0 -0.0232
2001-04-04  493.69  496.03  501.32  493.57  313640000.0 -0.0190
2001-04-06  506.22  518.06  518.20  504.54  373590000.0  0.0254
2001-04-09  497.46  503.07  506.46  497.46  283860000.0 -0.0173
2001-04-10  491.21  500.97  501.65  491.21  261940000.0 -0.0126
2001-04-11  507.53  505.24  508.75  501.63  354280000.0  0.0332
2001-04-12  514.21  516.73  519.48  511.73  408940000.0  0.0132
2001-04-13  516.10  518.64  518.65  512.35  346890000.0  0.0037
2001-04-16  508.35  514.55  518.26  508.35  328650000.0 -0.0150
2001-04-17  513.97  506.92  516.12  505.92  319540000.0  0.0111
2001-04-18  540.00  523.26  540.00  520.31  494860000.0  0.0506
2001-04-19  563.31  567.49  581.63  558.97  561590000.0  0.0432
2001-04-20  556.29  567.66  572.08  556.22  475640000.0 -0.0125
2001-04-23  560.94  559.09  566.47  556.52  420370000.0  0.0084
2001-04-24  555.64  552.32  556.48  547.39  346700000.0 -0.0094
2001-04-25  566.34  552.69  566.34  551.15  376550000.0  0.0193
2001-04-26  561.62  569.58  570.99  560.84  305800000.0 -0.0083
2001-04-27  556.63  561.06  563.76  553.67  231120000.0 -0.0089
2001-04-30  577.36  565.44  577.52  564.72  371500000.0  0.0372

In [6]:
for year in range(2000, 2021):
    buy_mon = str(year) + '-11'
    sell_mon = str(year+1) + '-04'
    print(buy_mon, sell_mon)

2000-11 2001-04
2001-11 2002-04
2002-11 2003-04
2003-11 2004-04
2004-11 2005-04
2005-11 2006-04
2006-11 2007-04
2007-11 2008-04
2008-11 2009-04
2009-11 2010-04
2010-11 2011-04
2011-11 2012-04
2012-11 2013-04
2013-11 2014-04
2014-11 2015-04
2015-11 2016-04
2016-11 2017-04
2017-11 2018-04
2018-11 2019-04
2019-11 2020-04
2020-11 2021-04

In [10]:
acc_rtn = 1

for year in range(2000, 2021):
    buy_mon = str(year) + '-11'
    sell_mon = str(year+1) + '-04'

    # 매수가 지정
    buy = kospi.loc[buy_mon].iloc[0]['Open']
    # 매도가 지정
    sell = kospi.loc[sell_mon].iloc[-1]['Close']

    # 수익률 (매도가 / 매수가)
    rtn = sell / buy
    # 누적수익률 계산
    acc_rtn *= rtn

acc_rtn

6.18585306815823

In [14]:
# buy and hold 의 수익률
# 매수가
buy = kospi.iloc[0]['Open']
# 매도가
sell = kospi.iloc[-1]['Close']
# 수익률
rtn = sell / buy
rtn

3.047562552876995

In [11]:
# CAGR 계산
# (수익률 ** (1/투자기간)) - 1 
CAGR = (acc_rtn ** (1/21)) - 1
CAGR * 100

9.06507321504515

In [15]:
# buy and hold CAGR
BAH_CAGR = (rtn** (1/21)) - 1
BAH_CAGR * 100

5.449703577738263

백테스팅

In [16]:
import datetime
from dateutil.relativedelta import relativedelta

In [17]:
start = datetime.datetime(year=2000, month=11, day=1)
end = start + relativedelta(months=5)

In [19]:
print(start.strftime('%Y-%m'), end.strftime('%Y-%m'))

2000-11 2001-04

In [24]:
def six_month(df, start_year = 2000, end_year = 2020, month=11):
    # 누적수익률 초기값
    acc_rtn = 1
    # 반복문을 이용하여 누적수익률 계산
    for year in range(start_year, end_year):
        start = datetime.datetime(year=year, month=month, day=1)
        end = start + relativedelta(months=5)

        buy_mon = start.strftime('%Y-%m')
        sell_mon = end.strftime('%Y-%m')

        # 구매가
        buy = df.loc[buy_mon].iloc[0]['Open']
        # 판매가
        sell = df.loc[sell_mon].iloc[-1]['Close']

        # 수익률
        rtn = sell / buy
        # 누적 수익률
        acc_rtn*= rtn

    return acc_rtn

In [25]:
six_month(kospi, 2000, 2021, 11)

6.18585306815823

In [26]:
for month in range(1, 13):
    result = six_month(kospi, 2000, 2021, month)
    print(f'{month} -> {result:0.2f}')

1 -> 1.64
2 -> 1.72
3 -> 1.64
4 -> 1.45
5 -> 0.64
6 -> 1.16
7 -> 1.65
8 -> 1.81
9 -> 2.03
10 -> 2.50
11 -> 6.19
12 -> 3.68

In [33]:
import halloween as hw
import imp
imp.reload(hw)

C:\Users\ssjjk\AppData\Local\Temp\ipykernel_307912\278314112.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp

In [34]:
test = hw.Halloween(kospi, 2000, 2021)

In [35]:
test.AccRtn()

6.18585306815823

In [36]:
test.CAGR()

9.06507321504515