# mysql과 python의 연동
1. 라이브러리 설치
2. sql 서버의 정보 입력
3. sql 서버에 접속
4. sql 쿼리문을 이용하여 데이터를 CRUD 작업

In [1]:
# mysql 라이브러리 설치
%pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymysql
import pandas as pd

In [ ]:
# sql 서버 정보 입력 -> DB 접속
user = _db = pymysql.connect(
    user = 'root', 
    password = "1234", 
    host = "localhost", 
    db = "ubion", 
    port = 3306)

In [ ]:
# cursor 변수
# sql 쿼리문을 실행시키기 위해 만들어야되는 필수 변수
# DictCursor 는 sql 쿼리문이 실행되고 나온 데이터를 딕셔너리 형태로 받는다.
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [ ]:
sql = '''
        select 
        * 
        from 
        user_info
      '''

cursor.execute(sql)

result = cursor.fetchall()
print(result)

In [ ]:
pd.DataFrame(result)

In [ ]:
sql = '''
        insert into
        user_info(id, name, age)
        values
        ('test2', 'kim', 30)
        '''

cursor.execute(sql)

In [ ]:
_db.commit()

In [ ]:
sql = '''
        select 
        createDt as 날짜,
        deathCnt as 사망자,
        decideCnt as 확진자
        from
        corona
        order by
        createDt
        '''

cursor.execute(sql)
result = cursor.fetchall()
df = pd.DataFrame(result)
df

# sql 쿼리문 실행 함수 생성
1. select() 함수 생성
2. 매개변수는 2개
3. 매개변수 sql은 sql 쿼리문을 입력받는 변수
4. 매개변수 limit는 기본값은 0
5. limit가 0인 경우는 쿼리문의 결과를 전부 보여주고 0이 아닌 경우에는 limit의 개수만큼 행을 보여준다.
6. sql 쿼리문을 받아서 실행하고 결과값을 데이터프레임으로 만들어서 리턴

In [ ]:
def select(sql, limit = 0):
        #cursor.execute(sql)
        #result = cursor.fetchall()
        # case1
        #if limit != 0:
        #       result = result[:limit]
        #df = pd.DataFrame(result)
        # case2
        #if limit != 0:
        #        df = pd.DataFrame(result).head(10)
        #df = pd.DataFrame(result)
        # case3
        if limit != 0:
                sql = sql + 'limit '+str(limit) #'limit공백'
        
        cursor.execute(sql)
        result = cursor.fetchall()
        df = pd.DataFrame(result)

        return df

sql = """
        select * from corona
"""


select(sql,10)

# input을 이용하여 입력받은 데이터 값을 insert
1. input 함수를 이용하여 데이터를 4개 받는다.
2. insert문을 이용하여 user_info 테이블에 id, name, age, address 항목에 삽입

In [ ]:
_id = input('id: ')
_name = input('name: ')
_age = input('age: ')
_address = input('address: ')

sql = f'''
        insert into
        user_info
        values
        ('{_id}','{_name}','{_age}','{_address}')
    
      '''

cursor.execute(sql)
_db.commit()

In [ ]:
# 데이터베이스와의 접속을 종료
_db.close()

In [ ]:
# 외부에 있는 서버와의 접속
# root 아이디는 내부에서만 접속이 가능한 아이디
_db = pymysql.connect(
    user = 'ubion',
    password = '1234',
    host = '172.16.12.149',
    db = 'ubion',
    port = 3306
)