# pandas
1. 시계열데이터
    - to_datetime() 함수 이용하여 시계열로 데이터 형태를 변환
    - 시간을 데이터화 하여 요일, 월, 일, 분기별,... 그룹화 하여 표현
2. 결측치
    - isna() : 결측치인 경우는 True, 아닌 경우 False
    - 데이터프레임에서 결측치의 수를 체크를 할때는 isna().sum()을 사용해서 결측치의 개수를 체크
    - fillna() : 결측치의 값을 다른 값으로 대체하는 함수
        - method : 'ffill' - 전의 값으로 대체 / 'bfill' - 후의 값으로 대체
    - dropna() : 결측치가 존재하는 행이나 열을 삭제
        - axis : 0이면 행을 기준으로 삭제, 1이면 열을 기준으로 삭제
3. 통계 요약 정보 출력
    -describe() : 데이터의 형태가 숫자형태인 경우 통계요약정보를 출력
4. 특정 위치의 데이터를 출력
    - loc() : 인덱스와 컬럼의 값을 기준으로 특정 위치를 출력 
    - iloc() : 인덱스와 컬럼의 위치를 기준으로 특정 위치를 출력 (숫자로 표현)
5. 그룹화 함수
    - groupby() : 특정한 컬럼을 기준으로 그룹화하여 데이터 통계를 내는데 사용
        - agg() : 통계 함수들을 동시에 사용하여 컬럼을 생성
6. 데이터의 행을 이동하는 함수
    - shift() : 데이터의 행을 이동한다. 기본값은 1 -> 바로 전의 행의 값을 가져온다.
7. 데이터의 차이를 나타내는 함수
    - diff() : 기본값은 1 -> 바로 전 행의 값과의 차이를 출력
8. 데이터의 각 항의 값들을 하나하나씩 함수에 넣어서 실행
    - apply() : 일반함수를 사용하여 새로운 파생변수를 생성 가능, 함수의 코드가 1줄로 처리가 되는 정도라면 lambda 함수 이용 가능
9. 데이터프레임의 결합
    - 단순한 결합 (union 결합) 
        - concat() : 단순히 행을 결합하거나 열을 결합하는 함수
    - 특정 조건에 맞는 결합 (join 결합)
        - merge() : 두 개의 데이터프레임을 특정한 조건에 맞춰서 결합
            - on : 특정한 조건
            - how : 결합에 기준이 되는 부분 지정

# 함수
1. 특정한 행동을 반복적으로 사용해야하는 경우 함수를 생성
2. 행동을 할때마다 코드를 작성하면 문제점 발생하는 경우
    - 오타
    - 가독성

In [51]:
def func_1(a, b):
    if (type(a) in [int, float]) & (type(b) in [int, float]):
        result = a ** b
    else:
        result = 'a와 b 둘 중에 숫자타입이 아닌것이 존재'
    return result

func_1(5, 3)
#func_1('hello', 'world')

125

In [84]:
import pandas as pd

# 함수 생성
1. 데이터프레임을 받아와서 '각 컬럼 별'로 결측치 개수를 체크 -> print
2. 데이터프레임에서 통계 요약 정보 출력 -> print
3. 시계열데이터의 형태인 컬럼을 시계열로 변경
4. 데이터의 양 옆에 공백을 삭제
5. 데이터를 모두 대문자의 형태로 변경하여 return
- test는 uriage.csv 파일을 로드하여 함수에 대입하여 테스트

In [90]:
test = pd.read_csv('../csv/uriage.csv')
test.head(4)

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현

In [86]:
# 함수 생성 - > 매개변수 1개
def change(df):
    print(df.isna().sum())
    print(df.describe())
    for col in df.columns:
        if df[col].dtype == object:
            df[col] = df[col].str.replace(' ','').str.upper()
            #df[col] = df[col].str.upper()
    return df

In [87]:
change(test)

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64
        item_price
count  2612.000000
mean   1296.401225
std     717.955460
min     100.000000
25%     700.000000
50%    1300.000000
75%    1900.000000
max    2600.000000

        purchase_date item_name  item_price customer_name
0     2019-06-1318:02       상품A       100.0           김가온
1     2019-07-1313:05       상품S         NaN           김우찬
2     2019-05-1119:42       상품A         NaN           김유찬
3     2019-02-1223:40       상품Z      2600.0           김재현
4      2019-04-223:09       상품A         NaN           김강현
...               ...       ...         ...           ...
2994   2019-02-152:56       상품Y      2500.0           김정민
2995   2019-06-224:03       상품M      1300.0           김재원
2996  2019-03-2911:14       상품Q         NaN           김지율
2997  2019-07-1412:56       상품H         NaN           김승주
2998   2019-07-210:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [91]:
# case 2 -> 시계열구조의 컬럼을 시계형데이터로 변환하는 방법 추가 -> 방법은 변환하려는 컬럼을 새로운 매개변수로 추가한다. 

def change_1(df, date_col = []):
    print(df.isna().sum())
    print(df.describe())
    if (len(date_col) != 0) & (type(date_col) == list):
        for d_col in date_col:
            if type(d_col) == int:
                df.iloc[:, d_col] = pd.to_datetime(df.iloc[:, d_col])
            elif type(d_col) == str:
                df[d_col] = pd.to_datetime(df[d_col])
    elif (len(date_col) != 0) & (type(date_col) in [str, int]):
        if type(date_col) == int:
            df.iloc[:, date_col] = pd.to_datetime(df.iloc[:, date_col])
        else:
            df[date_col] = pd.to_datetime(df[date_col])
    for col in df.columns:
        # for문의 첫번째 반복인 경우 col = purchase_date
        # df['purchase_date] = df['purchase_date].apply(lambda x : x...)
        # x는 -> df['purchace_date']의 데이터 값 하나씩 대입
        # x는 타입이 str 
        df[col] = df[col].apply(lambda x : (x.replace(' ','').upper()) if type(x) == str else x)
        return df

In [92]:
change_1(test, ['purchase_date']).info()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64
        item_price
count  2612.000000
mean   1296.401225
std     717.955460
min     100.000000
25%     700.000000
50%    1300.000000
75%    1900.000000
max    2600.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   datetime64[ns]
 1   item_name      2999 non-null   object
 2   item_price     2612 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 93.8+ KB