In [1]:
x=4
print(x)

4

In [2]:
a=5
print((a<3) or (a<10))
print((a>3) or (a<10))

True
True

In [3]:
not(False) ## not은 부정-> 반대로 출력 False-> True

True

In [4]:
a=5

if a<10:
    print('a는 10보다 작다')

a는 10보다 작다

In [5]:
a=20

if a<10:
    print('a는 10보다 작다')
else:
    print('a는 10보다 크다')

a는 10보다 크다

In [6]:
score=int(input('점수를 입력하세요:'))

if score>=90:
    print('A학점')
elif score>=80:
    print('B학점')
elif score>=70:
    print('C학점')
elif score>=60:
    print('D학점')
else:
    print('F학점')
print('입력이 끝났습니다')

B학점
입력이 끝났습니다

In [7]:
a=5
a+=1

print(a)

6

In [8]:
for i in range(5):
    print(i,end=',')

0,1,2,3,4,

In [9]:
for i in range(0,5,1):
    print('반복문 입니다.')

반복문 입니다.
반복문 입니다.
반복문 입니다.
반복문 입니다.
반복문 입니다.

In [10]:
#1부터 10까지의 합계

sum=0

for i in range(1,11):
    sum+=i #sum=sum+i
    
print('1부터 10까지의 합은',sum)

1부터 10까지의 합은 55

In [11]:
#1부터 50까지의 짝수의 합계

sum=0

for i in range(1,51):
    if i%2==0:
        sum+=i
      
print('1부터 50까지의 짝수의 합계는',sum)

1부터 50까지의 짝수의 합계는 650

In [12]:
## 주사위 2개의 합이 10인 경우의 수를 출력하시오.
## 다중 for문 이용 - for i in range(): for j in range():

for i in range(1,7):
    for j in range(1,7):
        if i+j==10:
            print(i,j)

4 6
5 5
6 4

In [13]:
## break문
for i in range(1,100,1):
    if i ==7:
        break
    print(i)

1
2
3
4
5
6

In [14]:
## break문
for i in range(1,100,1):
    print(i)
    if i ==7:
        break

1
2
3
4
5
6
7

In [15]:
for i in range(2,10):
    for j in range(1,10):
        print('{}X{}={}'.format(i,j,i*j))

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81

In [16]:
#1에서 1000까지의 합을 구하는데 합계가 900이 넘어가는 최초의 숫자는 무엇인가?
#1.합계라는 변수를 하나 지정 0을 대입
#2. for, while문을 이용하여 1부터 1000까지의 합계를 구하는 반복문 생성
#3. 합계가 900이 넘어가는 지점에 i의 값을 출력
#4. i값을 출력한 후, 반복문 종료

#for clause
sum=0

for i in range(1,1001):
    sum+=i
    if sum>=900:
        print(i)
        break

42

In [17]:
#while clause
sum=0
i=1
while i<=1000:
    sum+=i
    if sum>=900:
        print(i)
        break
    i+=1

42

In [18]:
# 튜플 데이터의 형태

a=(10,'test')
b=(3,3.14)
c=a+b
d=a*3

print(a,b,c,d)

(10, 'test') (3, 3.14) (10, 'test', 3, 3.14) (10, 'test', 10, 'test', 10, 'test')

In [19]:
#a라는 변수에서 10이라는 원소 값 하나만 출력

print(a[0])

10

In [20]:
#a라는 튜플에서 2번째 원소부터 4번째 원소까지 출력하려면?
a=(10,20,30,40,50)
print(a[1:5])
print(a[1:])

(20, 30, 40, 50)
(20, 30, 40, 50)

In [21]:
#a 튜플에서 처음부터 3번째 원소까지 출력
print(a[:3])

(10, 20, 30)

In [22]:
#리스트 형태

a=[20,10,70,50,30]
b=[10,20,60,70,80]

print(a)
print(b)

[20, 10, 70, 50, 30]
[10, 20, 60, 70, 80]

In [23]:
#리스트에 있는 내장함수
#sort() -> 리스트 내부의 원소들을 오름차순으로 정렬

a.sort()
print(a)

[10, 20, 30, 50, 70]

In [24]:
#역순으로 변경 -> reverse()

b.reverse()
print(b)

[80, 70, 60, 20, 10]

In [25]:
#append() -> 리스트 가장 마지막에 원소 추가

a.append(22)
print(a)

[10, 20, 30, 50, 70, 22]

In [26]:
l=[]
l.append(1)
print(l)

[1]

In [27]:
#1부터 70까지 숫자중에 3의 배수를 리스트로 만들어서 출력
#비어있는 리스트 하나 생성
#for반복문 사용, 1부터 70까지 반복

a=[]
for i in range(1,71):
    if i%3==0:
        a.append(i)
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [28]:
#딕셔너리 데이터 형태
#사전형 데이터
#{key:value}

dict={"name":"test","age":"20","phone":"01012345678"}
print(dict)

{'name': 'test', 'age': '20', 'phone': '01012345678'}

In [29]:
#test 단어 출력

print(dict["name"])

test

In [30]:
#key:value 추가
#"area":"Seoul"

dict["area"]="Seoul"
print(dict)

{'name': 'test', 'age': '20', 'phone': '01012345678', 'area': 'Seoul'}

In [31]:
#age 키의 value를 30으로 변경?

dict["age"]="30"
print(dict)

{'name': 'test', 'age': '30', 'phone': '01012345678', 'area': 'Seoul'}

In [32]:
#SQL -> Database에서 데이터를 가지고 올때 데이터의 형태
#[{key1:value1, key2:value2},{key1:value3, key2:value4},...]
test_data=[{"name":"test",
"age":20},{"name":"test2","age":30},{"name":"test3","age":35}]

In [33]:
#test_data 라는 변수에서{"name":"test","age":20}인 값을 출력히려면?
print(test_data[0])

{'name': 'test', 'age': 20}

In [34]:
#test_data에서 "test"라는 문자열을 출력하려면?
print(test_data[0]["name"])

test

In [35]:
#test_data에서 30이라는 숫자를 출력하려면?
print(test_data[1]["age"])

30

In [36]:
#test_data에서 나이 20,30,35 이 데이터를 추출해서 리스트의 형태로 출력
#0.비어있는 리스트 생성
#1.test_data에서 각 원소별로 총 3번 반복
#2.age의 value를 추출해서 비어있는 리스트에 추가
#3.리스트를 출력

a=[]

for i in range(0,3):
    #print(test_data[i]["age"])
    a.append(test_data[i]["age"])
print(a)

[20, 30, 35]

In [37]:
#test_data의 데이터의 형태 -> 리스트 []
a=[]

for i in test_data:
    #print(i["age"])
    a.append(i["age"])
print(a)

[20, 30, 35]

In [38]:
#문자열 함수
#대 소문자 변경
a="Hello world"
print(a.upper())
print(a.lower())
print(a.title())

HELLO WORLD
hello world
Hello World

In [39]:
#공백 제거하는 함수
#strip()
#replace()
a="  Hello world  "
print(a.strip())
print(a.replace(" ",""))

Hello world
Helloworld

In [40]:
a.replace("Hello","Hi")

'  Hi world  '

In [41]:
#split() -> 기준이 되는 문자열이나 특수문자를 기준으로 문자열을 나눠주는 역할
x='a,b,c,d'
print(x.split(','))

#c 라는 문자열을 출력하려면?
#1.split 사용하지 않는 경우
print(x[4])
#2.split 사용하는 경우
print(x.split(',')[2])

['a', 'b', 'c', 'd']
c
c

###함수

In [42]:
#함수 -> 데이터를 일반적인 저장 방식, 뭔가 행동을 하고 난 뒤에 결과값 돌려주는것
#def 함수명(애개변수):

def func_1(a,b):
    result=a+b
    return result

c=func_1(3,4)
print(c)
print(func_1(1,3))

7
4

#변수의 종류
1. 전역 변수
- 어디서든 사용이 가능한 변수
- 들여쓰기를 하지 않은 공간에서 지정한 변수
2. 지역 변수
- 특정한 구간에서만 가용이 가능한 변수
- 함수 안에서 만든 변수(들여쓰기를 한 곳에서 지정한 변수)

In [43]:
#전역변수의 예

x=3

def func_2(a):
    result=a*x
    return result

print(x)
print(func_2(4))

3
12

In [44]:
#지역변수의 예

def func_3(a):
    y=3
    result=a*y
    return result

print(y)
print(func_3(4))

NameError: name 'y' is not defined

In [ ]:
#c매개변수값을 1로 지정했을 경우, 인자값을 지정하지 않아도 되는 경우 

def func_4(a,b,c=1):
    result=a+b-c
    return result

print(func_4(5,3), end=",")
print(func_4(5,3,4))

#함수 생성 문제
1. 함수 생성 매개변수 3개 a,b,c
2. c의 값이 '합'이면 result= a+b
3. c의 값이 '차'이면 result= a-b
4. 그외의 값이면 result= 'Error'
5. return result
6. print(함수명(3개의 인자값))
7. 합과 차 그리고 Error 출력

In [ ]:
def func_5(a,b,c):
    if c=='합':
        result=a+b
    elif c=='차':
        result=a-b
    else:
        result='Error'
    return result

print(func_5(5,3,'합'))
print(func_5(1,2,'차'))
print(func_5(4,3,'곱'))

8
-1
Error

#함수 생성
1. 매개변수(a,b) 2개를 가진 함수 생성(매개변수에는 숫자형만 넣어서 실행)
2. a와 b사이에 숫자들의 합계를 return(a와 b가 모두 포함되어 있는 경우)
3. a와 b사이에 대소관계는 정해져있지 않다.
4. a와 b가 같은 경우에는 a를 return
5. print(func_6(1,10)) -> 55
6. print(func_6(10,1)) -> 55

In [ ]:

def func_6(a,b):
    sum=0
    if a<b:
        for i in range(a,b+1):
            sum+=i
          
    elif a>b:
        for i in range(b,a+1):
            sum+=i
       
    else:
        return a
    return sum

print(func_6(1,10))
print(func_6(10,1))
print(func_6(2,2))

55
55
2

In [ ]:
def func_7(a,b):
    sum=0
    for i in range(min(a,b),max(a,b)+1):
        sum+=i
    return sum

print(func_7(1,7))

In [ ]:
def func_8(a,b):
    sum=0
    if a<b:
        while a<=b:
            sum+=a
            a+=1
    elif a>b:
        while b<=a:
            sum+=b
            b+=1
    else:
        sum=a
    return sum

print(func_8(1,4))

10